<li id="answer-{{answer.id}}">
    <div class="row mt-2">
        <div class='col-md-2 border-end'>
            {{>votes votable=answer votable_class='answer'}}
        </div> 
        <div class='col-md-10'>
            <p class='answer-body'>{{ answer.body }}</p>
            <p class='answer-author'>{{ author.email }}</p>
            <div id="answer_{{answer.id}}_files">
                {{>files}}
            </div>
            <div id="answer_{{answer.id}}_links">
                {{>links}}
            </div>
            <div class='d-flex'>
            </div>
        </div>     
    </div>
</li>
